.btn-back {
    width: 15%;
    color: #9b9d97;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    padding: .5rem;
    text-align: center;
    background-color: #0C1014;
    border-color: #0C1014;
    border-radius: 0px;
    transition: all 0,6s ease;
}
.btn-back:hover {
    background-color: #9b9d97;
    color: #0C1014;
    border-color: #9b9d97;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;                                                                                                
}

.btnGo-container {
    text-align: end;
}

.btnEmpty-container {
    text-align: start;
}


.btn-emptyCart {
    color: #0C1014;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    left: 1rem;
    width: 10rem;
    padding: .5rem;
    border: 1px solid #6f6f6f;
    background-color: #fff;
    transition: all 0,6s ease;
}
.btn-emptyCart:hover {
    background-color: #0C1014;
    color: #9b9d97;
    border-color: #0C1014;
}

.btn-endPurchase {
    margin-bottom: 30px;
    background-color: #0C1014;
    border: 1px solid #0C1014;
    border-radius: 0px;
    color: #9b9d97;
    font-size: 1rem;
    padding: .5rem;
    width: 30%;
    transition: all 0,6s ease;
}
.btn-endPurchase:hover {
    background-color: #9b9d97;
    border: 1px solid #9b9d97;
    color: #0C1014;
}

.caption-total{
    margin-top: 4rem;
    font-family: Poppins;
}

.cart-container{
    overflow-x: hidden;
    padding-bottom: 5rem;
}

.cart-text {
    margin-top: 6rem;
}

.empty-cart {
    padding-bottom: 19rem;
}

.btn-goShopping {
    color: #9b9d97;
    transition: all 0,6s ease;
    background-color: #0C1014;
    border: 1px solid #0C1014;
    position: relative;
    right: 2rem;
    padding: .5rem;
    width: 11rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 400;
}
.btn-goShopping:hover {
    background-color: #0C1014;
    color: #fff;
    border-color: #0C1014;
}

.hr-cart {
    margin-top: 3rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.table {
    width: 80%;
    text-align: center;
    margin-top: 3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.0);
    vertical-align: baseline !important;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.0);
    font-family: Poppins;
}

.table-total {
    width: 30%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #dee2e6 !important;
    font-family: Poppins;
}

.title-cart {
    font-family: Poppins;
    color: #0C1014;
    font-size: 32px;
    margin-top: 60px;
}


@media only screen and (max-width: 768px){
    .btn-emptyCart{
        font-size: 1rem;
        width: 10rem !important;
        margin-top: 1rem;
    }

    .btn-goShopping {
        width: 10rem;
        font-size: 1rem;
        margin-top: 1rem;
    }

    .btn-endPurchase {
        font-size: 1rem;
        width: 70%;
    }

    .title-cart {
        font-size: 28px;
    }

    .btnSeguir-container {
        width: 50%;
        position: relative;
        left: 25px;
    }

    .btnVaciar-container {
        width: 50%;
        position: relative;
        right: 25px;
    }

    .texto-carrito {
        font-size: 20px;
    }

    .btn-volver {
        width: 35%;
    }

}