.card {
    margin: 1rem !important;
}

.card-container {
    margin-top: 3rem;
    padding: 0px;
}

.container-fluid {
    padding: 0;
    overflow-x: hidden;
}

.div-container {
    padding: 2rem;
}

.list-container {
    background-color: #faf8f8;
    padding-bottom: 70px;
}

.spinner-container {
    height: 100vh;
    position: relative;
}

.spinner-div {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.5rem
}