.add-container {
    padding-left: 4rem;
    cursor: pointer;
}
.add-container:hover {
    font-weight: 500;
}

.btn-count {
    margin-right: 1rem;
    color: #0C1014;
    border-color: #0C1014;
}
.btn-count:hover {
    background-color: #0C1014;
}

.counter {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.quantity {
    position: absolute;
}

.quantity-container {
	border: 1px solid #d4d2d2;
	width: 32%;
	height: 2rem;
	margin-top: 1rem;
}

.subtract-container {
    padding-right: 4rem;
    cursor: pointer;
}
.subtract-container:hover {
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .quantity-container {
        width: 50%;
    }
}