.add-container {
    padding-left: 60px;
    cursor: pointer;
}
.add-container:hover {
    font-weight: 500;
}

.btn-count {
    margin-right: 12px;
    color: #212529;
    border-color: #212529;
}
.btn-count:hover {
    background-color: #212529;
}

.btn-addToCart {
    text-align: center;
    margin-top: 14px;
    background-color: #212529;
    border-color: #212529;
    border-radius: 0px;
    color: #9b9d97;
    width: 32%;
    padding: 8px;
}
.btn-addToCart:hover {
    background-color: #fff;
    color: #212529;
    border-color: #212529;
}

.counter {
    font-size: 18px;
    margin-bottom: 10px;
}

.quantity {
    position: absolute;
}

.quantity-container {
	border: solid 1px #d4d2d2;
	width: 32%;
	height: 36px;
	margin-top: 10px;
}

.subtract-container {
    padding-right: 60px;
    cursor: pointer;
}
.subtract-container:hover {
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .quantity-container {
        width: 50%;
    }
}